

<script id="simple-hello" type="text/html">
    <!-- <p>Hello, {{name}}, how are you?</p> -->
    
    <div id="login_page">        
      <div class="container text-center">
        <form class="form-signin" data-ember-action="2">
          <h1 class="form-signin-heading">CrappyBullet</h1>
          <br><br>
        </form> 
     </div>
    <div class="container center_image">     
        <div class="span12">      
          <div class="span4"><img class="center-block" src="./images/crappyLogo.png" /></div>
        </div> 
    </div>
      
    <div class="bottom-align-text container text-center">
        <input id="sign-in"  type="image" src="./images/btn_google_signin_dark_normal_web.png" />
        <br><br>
    </div>
  </div>
</script>