<script id="simple-main" type="text/html">
<!--   <div id="main_paig"> -->
  <main id="main_paig" class="mdl-layout__content mdl-color--grey-100">
    <div id="messages-card-container" class="mdl-cell mdl-grid">
    <div class="number-container mdl-card mdl-shadow--2dp">
      <input class="mdl-textfield__input " type="number" id="number" placeholder="Number">
    </div>
      //<!-- Messages container -->
      <div id="messages-card" class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <div id="messages">
            <span id="message-filler"></span>
          </div>
         <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
               <input class="mdl-textfield__input" type="text" id="message">
                <label class="mdl-textfield__label" for="message">Text...</label>
               <button id="submit" type="submit" class="inputBtn">
                  <i class="material-icons">navigate_next</i>
                </button>
            </div>
          </form>
        </div>
      </div>

      <div id="must-signin-snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>

    </div>
  </main>
<!--   </div> -->

</div>
</script>

<!-- <script id="simple-main" type="text/html">
    <p>Hello, {{name}}, how are you?</p>
    <div id="login_test">        
        <div class="container text-center">
        <form class="form-signin" data-ember-action="2">
          <h1 class="form-signin-heading">main page</h1>
          <br><br>
        </form> 
     </div>
    <div class="bottom-align-text container text-center">
        <input id="submit" type="image" src="./images/btn_google_signin_dark_normal_web.png" />
        <br><br>
     </div>
  </div>
</script> -->